body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    background-color: #e5e7e7;
}

.alto {
    position: relative;
    background-color: white;
}

.header-logo img {
    height: 60px;
    margin: 15px 0px 15px 30px;
}

.header-logo span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 180px;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-weight: 700;
}

.container {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 5px;
}

.header-main {
    padding: 20px 0 10px 50px;
}

#hlgrey {
    border: 1px solid #e5e7e7; 
}

#button-task {
    color: white;
    background-color: #47adf1;
    border: 1px solid #47adf1;
    border-radius: 5px;
    padding: 5px 10px;
}

#button-section {
    color: #b0b9b9;
    background-color: white;
    border: 1.5px solid#b0b9b9;
    border-radius: 5px;
    padding: 5px 10px;
}

.lists {
    padding: 20px 0 10px 50px;
    line-height: 40px;
}

.lists h2:before {
    content: '\23F7';
    font-size: 20px;
}

.lists h2 {
    font-weight: 700;
    margin-bottom: 0;
}

.lists div div:before {
    content: '\2714';
    color: #66c1aa;
    border: 1px solid #66c1aa;
    border-radius: 50%;
    margin: 0 5px 0 2px;
    font-size: 14px;
}

.container .lists div .error:before {
    content: '\1F5F4';
    color: #eb4e44;
    border: 1px solid #eb4e44;
    border-radius: 50%;
    margin: 0 7.5px 0 2px;
    font-size: 14px;
}

#first-topic, #second-topic, #third-topic div {
    font-size: 18px;
}

.lists div span {
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

.azzurro {
    background-color: #47adf1;
}

.viola {
    background-color: #9c72e4;
}

.verdeacqua {
    background-color: #64c0a9;
}

.arancione {
    background-color: #f29e33;
}

.rosa {
    background-color: #d863a1;
}

.verde {
    background-color: #b0c926;
}
