body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e5e7e7;
}

.alto {
    position: relative;
    background-color: white;
}

.header-logo img {
    height: 60px;
    margin: 15px 0px 15px 30px;
}

.header-logo span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 180px;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-family: 'Cabin', sans-serif;;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 15px;
}