* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f6f8f9;
}

header {
    position: relative;
}

.header-logo img {
    height: 60px;
    margin: 30px 0px 0px 30px;
}

.header-logo span {
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 180px;
    transform: translate(-50%, -50%);
    font-size: 35px;
    font-family: 'Cabin', sans-serif;;
}